<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="kse/common/logback/logback-defaults.xml"/>

    <logger name="kse" additivity="true" level="DEBUG"/>
    <logger name="org.hibernate.validator" additivity="true" level="INFO"/>
    <logger name="org.springframework" additivity="true" level="INFO"/>
    <logger name="io.micrometer" additivity="true" level="INFO"/>
    <logger name="org.apache.catalina" additivity="true" level="WARN"/>
    <logger name="org.apache.coyote" additivity="true" level="WARN"/>

</configuration>